[Desktop Entry]
Version=1.0
Name=Overte
Terminal=false
Type=Application
Exec=/AppRun
Icon=Overte
Categories=Game;Network;Qt;
X-AppImage-Version=$version
